
  
<ion-content >
  <ion-grid style="padding-top: 5%;">
    <ion-row>


    <ion-col sizeLg="4" sizeMd="4" sizeXs="12" style="border: 2px;border-width: 2px;">

</ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="12" style="border: 2px;border-width: 2px;">
    

     
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3>
        <ion-text color="light" class="fw700">
        
        </ion-text>
      </h3>
    </div>

    <h2> Mot de passe oublié</h2>
    <p>Veuillez entrer un email valide, afin de recevoir un nouveau mot de passe. </p>
    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
         * Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email')">
          <ion-text color="light">
      * Email requis.
        </ion-text>
      </p>

   
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="secondary" (click)="sendnewwpassword()" [disabled]="!onRegisterForm.valid"
        tappable>
       Envoyer
      </ion-button>
    </div>




</ion-col>
<ion-col sizeLg="4" sizeMd="4" sizeXs="12" style="border: 2px;border-width: 2px;">
</ion-col>

</ion-row>
</ion-grid>





</ion-content>
