
b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #f8f8f8);
  }

  p b {
    color: var(--ion-text-color, #ffffff);
  }

  #cercle1 {
    text-align: center;
    font-size: 25px;
    color: #009688;
    padding: auto;
}

#cercle2 {
    text-align: center;
    font-size: 25px;
    color: #00BCD4;
}


#cercle3 {
    border: 9px solid #E52364;
    font-size: 25px;
    color: #E52364;
}



#cercle4 {
  border: 9px solid #ffd31a;
  font-size: 45px;
  color: #ffd31a;
}



.text-cercle{
    padding:15% 20% 2% 20%;
     font-weight: bold;
}

.text-cercle-subtitle{
    padding:2% 20% 30% 20%;
    font-size: 17px;
    font-weight: bold;
    color: #fbfbfb;
 }
 
 ion-item-divider {
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d0d0d0;
 }

 #editslider {
  display : none;
 }
 #slide-cover:hover \ #editslider {
  display: inline-block;
 }

 .showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}

